<section class="{{tabs.configuration.cssClass}}" data-group="{{tabs.configuration.group}}" data-tab="{{tabs.configuration.id}}">
  <fieldset>
    {{> "modules/quest-board/templates/shared/edit/basics.hbs"}}
    {{formGroup systemFields.type value=source.system.type rootId=rootId}}
    {{#if isGM}}
    {{formGroup systemFields.complete value=source.system.complete rootId=rootId}}
    {{/if}}
  </fieldset>
</section>
