<section class="{{tabs.connections.cssClass}}" data-group="{{tabs.connections.group}}" data-tab="{{tabs.connections.id}}">
  {{#with fields}}
  <fieldset>
    <legend>{{localize "QUESTBOARD.RELATION.FIELDS.locations.label"}}</legend>
    {{formGroup locations.residences.field value=locations.residences.source}}
    {{formGroup locations.origins.field value=locations.origins.source}}
    {{#if locations.demises}}
    {{formGroup locations.demises.field value=locations.demises.source}}
    {{/if}}
  </fieldset>

  <fieldset>
    <legend>{{localize "QUESTBOARD.RELATION.FIELDS.groups.label"}}</legend>
    {{formGroup groups.ideologies.field value=groups.ideologies.source}}
    {{formGroup groups.organizations.field values=groups.organizations.source}}
    {{formGroup groups.teachings.field value=groups.teachings.source}}
  </fieldset>
  {{/with}}
</section>
