<section class="{{tabs.identity.cssClass}}" data-group="{{tabs.identity.group}}" data-tab="{{tabs.identity.id}}">
  {{#with fields}}
  <fieldset>
    {{formGroup avatar.field value=avatar.source}}
    {{formGroup titles.field value=titles.source}}
    {{formGroup gender.field value=gender.source}}
    {{formGroup properties.field value=properties.source type="checkboxes" classes="stacked" options=properties.options}}
  </fieldset>

  <fieldset>
    <legend>{{localize "QUESTBOARD.RELATION.FIELDS.age.label"}}</legend>
    <div class="form-group">
      <label>{{localize "QUESTBOARD.RELATION.FIELDS.age.birth.label"}}</label>
      <div class="form-fields">
        {{formGroup age.birth.day.field value=age.birth.day.source}}
        {{formGroup age.birth.year.field value=age.birth.year.source}}
      </div>
    </div>
    {{#if age.death}}
    <div class="form-group">
      <label>{{localize "QUESTBOARD.RELATION.FIELDS.age.death.label"}}</label>
      <div class="form-fields">
        {{formGroup age.death.day.field value=age.death.day.source}}
        {{formGroup age.death.year.field value=age.death.year.source}}
      </div>
    </div>
    {{/if}}
  </fieldset>
  {{/with}}
</section>
