<section>
  <div class="avatar">
    <figure data-action="showImage">
      <img src="{{avatar}}" alt="{{name}}">
      <figcaption>{{titles}}</figcaption>
    </figure>
  </div>
  <div class="statistics">
    <p>
      <span class="label">{{localize "QUESTBOARD.RELATION.VIEW.birthdate"}}.</span> {{date}}
    </p>
  </div>
</section>
