<section class="{{tabs.identity.cssClass}}" data-group="{{tabs.identity.group}}" data-tab="{{tabs.identity.id}}">
  {{#with fields}}
  <fieldset>
    {{formGroup avatar.field value=avatar.source rootId=@root.rootId}}
    {{formGroup titles.field value=titles.source rootId=@root.rootId}}
    {{formGroup stats.population.field value=stats.population.source rootId=@root.rootId}}
    {{formGroup properties.field value=properties.source type="checkboxes" classes="stacked" options=properties.options}}
  </fieldset>

  <fieldset>
    <legend>{{localize "QUESTBOARD.LOCATION.FIELDS.age.label"}}</legend>
    <div class="form-group">
      <label>{{localize "QUESTBOARD.LOCATION.FIELDS.age.founding.label"}}</label>
      <div class="form-fields">
        {{formGroup age.founding.day.field value=age.founding.day.source rootId=@root.rootId}}
        {{formGroup age.founding.year.field value=age.founding.year.source rootId=@root.rootId}}
      </div>
    </div>
    {{#if age.defunct}}
    <div class="form-group">
      <label>{{localize "QUESTBOARD.LOCATION.FIELDS.age.defunct.label"}}</label>
      <div class="form-fields">
        {{formGroup age.defunct.day.field value=age.defunct.day.source rootId=@root.rootId}}
        {{formGroup age.defunct.year.field value=age.defunct.year.source rootId=@root.rootId}}
      </div>
    </div>
    {{/if}}
  </fieldset>
  {{/with}}
</section>
