<section style="--days: {{daysOfWeek.length}}">
  <div class="calendar-header">
    {{#each daysOfWeek}}
    <span class="day">{{this}}</span>
    {{/each}}
  </div>
  <div class="dates" data-year="{{year}}">
    {{#each buttons.days}}
    {{#if blank}}
    <span class="date blank"></span>
    {{else}}
    <a class="{{cssClass}}" data-action="pickDate" data-day="{{day}}">
      <span class="label">{{label}}</span>
    </a>
    {{/if}}
    {{/each}}
  </div>
  <div class="month">
    <button type="button" data-action="changeMonth" data-delta="-1" class="icon fa-solid fa-arrow-left"></button>
    <h4 class="label">{{month}}, {{year}}</h4>
    <button type="button" data-action="changeMonth" data-delta="1" class="icon fa-solid fa-arrow-right"></button>
  </div>
</section>
