<section>
  <div class="avatar">
    <figure data-action="showImage">
      <img src="{{avatar}}" alt="{{name}}">
      <figcaption>{{titles}}</figcaption>
    </figure>
  </div>
  <div class="statistics">
    {{#each stats}}
    {{#if show}}
    <p>
      <span class="label">{{localize label}}.</span> {{value}}
    </p>
    {{/if}}
    {{/each}}
  </div>
</section>
